{{> js/profile/membership}}
<div id="screen-membership" class="d-none container border screen-info py-1">
    <div class="d-flex align-items-center justify-content-between mt-1">
        <h4 class="m-0" style="align-self:flex-start">Membership</h4>
        <a id="open-add-genre" class="btn btn-danger m-0">Add Genre</a>
    </div>
    <hr class="mt-2">
    <div class="container m-0">
        <h3>Premium plan</h3>
        <p>Next payment: June 7th, 2024</p>
        <div class="d-flex mb-2">
            <a id="cancel-membership" class="btn btn-danger btn-edit-genre me-2">Cancel Membership</a>
        </div>
    </div>
</div>