{{> js/profile/membership}}
<div id="screen-membership" class="d-none container border screen-info py-1">
    <div class="d-flex align-items-center justify-content-between mt-1">
        <h4 class="m-0" style="align-self:flex-start">Membership</h4>
    </div>
    <hr class="mt-2">
    <div class="container m-0">
        <h3><span id="sub-plan"></span></h3>
        <p>Expires on: <span id="sub-end-date"></span></p>
    </div>
</div>