{{> css/profile}}
{{> css/admin}}
<div class="container-fluid">
    <div class="d-flex mb-5 w-100">
        <div class="container border py-2 w-25" style="margin:0">
            <h4 class="mb-3">Manage...</h4>
            <div id="swap-movie" class="d-flex align-items-center mb-3 fs-5 side-button side-button-active">
                <i class="fa-solid fa-film me-3" style="width:20px"></i>
                <p class="mb-0">Movies</p>
            </div>
            <div id="swap-genre" class="d-flex align-items-center mb-3 fs-5 side-button">
                <i class="fa-solid fa-list me-3" style="width:20px"></i>
                <p class="mb-0">Genres</p>
            </div>
            <div id="swap-user" class="d-flex align-items-center fs-5 side-button">
                <i class="fa-solid fa-user me-3" style="width:20px"></i>
                <p class="mb-0">Users</p>
            </div>
        </div>
        {{!-- {{> admin/m-movie}}
        {{> admin/m-genre}}
        {{> admin/m-user}} --}}
    </div>
</div>