<div class="d-flex justify-content-center contact mb-4">
    <div>
        <div class="platforms">
            <i class="fa-brands fa-facebook fs-2 me-3"></i>
            <i class="fa-brands fa-instagram fs-2 me-3"></i>
            <i class="fa-brands fa-twitter fs-2 me-3"></i>
            <i class="fa-brands fa-youtube fs-2"></i>
        </div>
        <div class="d-flex mt-4 web-info">
            <div>
                <p class="fs-6 text-secondary">Audio Description</p>
                <p class="fs-6 text-secondary">Investor Relations</p>
                <p class="fs-6 text-secondary">Legal Notices</p>
            </div>

            <div>
                <p class="fs-6 text-secondary">Help Center</p>
                <p class="fs-6 text-secondary">Jobs</p>
                <p class="fs-6 text-secondary">Cookie Preferences</p>
            </div>

            <div>
                <p class="fs-6 text-secondary">Gift Cards</p>
                <p class="fs-6 text-secondary">Term of Use</p>
                <p class="fs-6 text-secondary">Corporate Information</p>
            </div>

            <div>
                <p class="fs-6 text-secondary">Media Center</p>
                <p class="fs-6 text-secondary">Privacy</p>
                <p class="fs-6 text-secondary">Contact Us</p>
            </div>
        </div>

        <div class="fs-6 mt-4 p-2 px-3 border border-secondary text-secondary" style="width: fit-content">
            Service Code
        </div>

        <div class="mt-4 text-secondary">
            <i class="fa-regular fa-copyright"></i>
            1997-2024 Netflix, Inc.
        </div>
    </div>
</div>