<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary mb-5">
    <div class="container-fluid py-1">
        <img class="m-2 ms-4 me-4" src="/imgs/logo.svg" style="width:8%">
        {{#if home}}
        <a class="m-2 ms-3 fs-5 link-unstyled" href="/home">Home</a>
        <a class="m-2 fs-5 link-unstyled">My List</a>
        {{/if}}

        {{#if home}}
        <form class="d-flex me-4" role="search" style="margin-left:auto">
            <input class="form-control me-2"  type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><i
                    class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        {{/if}}

        <div class="form-check form-switch p-0 me-2 d-flex" {{#unless home}}style="margin-left:auto"{{/unless}}>
            <i class="fa-solid {{#if dark}} fa-moon {{else}} fa-sun {{/if}} fs-2" id="sw-theme"
                style="cursor:pointer"></i>
        </div>

        <div class="form-check form-switch p-0">
            {{#if home}}
            <a class="m-2 fs-5 link-unstyled" href="/logout">Log Out</a>
            {{/if}}
            {{#if admin}}
            <a class="m-2 fs-5 link-unstyled" href="/logout">Log Out</a>
            {{/if}}
        </div>
    </div>
    
</nav>
<script>

const inputField = document.getElementById("form-control me-2")
if(inputField)
{inputField.addEventListener("input", () =>{
    console.log("123")
})}
console.log("ok")




</script>
<div style="height:100px"></div>

   
