<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary mb-5">
    <div class="container-fluid py-1">
        <img class="m-2" src="/imgs/logo.svg" width="200">
        <a class="m-2 ms-3 fs-5 link-unstyled" href="/home">Home</a>
        <a class="m-2 fs-5 link-unstyled">My List</a>
        <div class="form-check form-switch p-0 me-2" style="margin-left:auto">
            <i class="fa-solid {{#if dark}} fa-moon {{else}} fa-sun {{/if}} fs-2" id="sw-theme"
            style="cursor:pointer"></i>
        </div>
        <div class="form-check form-switch p-0">
            {{#if home}}
            <label>
                <form action="/logout" method="get">
                    <button type="submit" title="Logout"
                        style="position: relative; border: 0; background: transparent; font-size: 25px">
                        <i class="fa-solid fa-right-to-bracket fs-2"></i>
                    </button>
                </form>
            </label>
            {{/if}}
            {{#if admin}}
            <label>
                <form action="/logout" method="get">
                    <button type="submit" title="Logout"
                        style="position: relative; border: 0; background: transparent; font-size: 25px">
                        <i class="fa-solid fa-right-to-bracket fs-2"></i>
                    </button>
                </form>
            </label>
            {{/if}}
        </div>
    </div>
</nav>
<div style="height:100px"></div>