<nav class="navbar sticky-top navbar-expand-lg {{#if admin}} bg-body-tertiary {{/if}} {{#if search}} bg-body-tertiary {{/if}}">
    <div class="container-fluid py-1">
        <img class="m-2 ms-4 me-4" src="/imgs/logo.svg" style="width:8%">
        {{#if home}}
        <a class="m-2 ms-3 fs-5 link-unstyled" href="/home">Home</a>
        <a class="m-2 fs-5 link-unstyled">My List</a>
        {{/if}}

        {{#if home}}
        <form class="d-flex me-2" role="search" style="margin-left:auto">
            <div class="border border-light bg-black px-2 py-1 d-flex justify-content-center align-items-center search-movies-container search-movies-container-inactive">
                <i class="fa-solid fs-4 fa-magnifying-glass me-2" id="search-button" style="cursor:pointer;"></i>
                <input class="d-none" id="search-movies-input" style="width: 4px" type="search"
                    placeholder="Titles, people, genres" aria-label="Search">
            </div>
        </form>
        {{/if}}

        {{!-- <div class="form-check form-switch p-0 me-2 d-flex" {{#unless home}}style="margin-left:auto" {{/unless}}>
            <i class="fa-solid {{#if dark}} fa-moon {{else}} fa-sun {{/if}} fs-2" id="sw-theme"
                style="cursor:pointer"></i>
        </div> --}}

        <div class="form-check form-switch p-0">
            {{#if home}}
            <a class="m-2 me-3 fs-4 link-unstyled" href="/account">
                <i class="fa-solid fa-user"></i>
            </a>
            <a class="m-2 fs-4 link-unstyled" href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
            {{/if}}
            {{#if admin}}
            <a class="m-2 fs-4 link-unstyled" href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
            {{/if}}
        </div>
    </div>

</nav>
<script>
    $(() => {
        $('#search-button').on('click', function (e) {
            e.preventDefault();
            const value = $('#search-movies-input').val();
            if (value) {
                window.location.href = `/search?query=${value}`;
            } else {
                if ($('#search-movies-input').css('width') == '4px') {
                    $('.search-movies-container').removeClass('search-movies-container-inactive');
                    $('#search-movies-input').removeClass('d-none');
                    setTimeout(() => {
                        $('#search-movies-input').css({
                            'width': '200px',
                            'transition': 'width 1s ease',
                        });
                    }, 0)
                } else {
                    $('.search-movies-container').addClass('search-movies-container-inactive');
                    $('#search-movies-input').css({
                        'width': '4px',
                        'transition': 'width 1s ease',
                    });
                }
            }
        })
    })
</script>