<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container-fluid py-1">
        <img class="m-2 ms-4 me-4" src="/imgs/logo.svg" style="width:8%">
        {{#if home}}
        <a class="m-2 ms-3 fs-5 link-unstyled" href="/home">Home</a>
        <a class="m-2 fs-5 link-unstyled">My List</a>
        {{/if}}

        {{#if home}}
        <form class="d-flex me-4" role="search" style="margin-left:auto">
            <button class="btn btn-outline-success" id="search-button"><i
                    class="fa-solid fa-magnifying-glass"></i></button>
            <input class="form-control me-2 d-none" id="search-movies-input" style="width: 0px" type="search"
                placeholder="Search" aria-label="Search">
        </form>
        {{/if}}

        <div class="form-check form-switch p-0 me-2 d-flex" {{#unless home}}style="margin-left:auto" {{/unless}}>
            <i class="fa-solid {{#if dark}} fa-moon {{else}} fa-sun {{/if}} fs-2" id="sw-theme"
                style="cursor:pointer"></i>
        </div>

        <div class="form-check form-switch p-0">
            {{#if home}}
            <a class="m-2 fs-5 link-unstyled" href="/logout">Log Out</a>
            {{/if}}
            {{#if admin}}
            <a class="m-2 fs-5 link-unstyled" href="/logout">Log Out</a>
            {{/if}}
        </div>
    </div>

</nav>
<script>
    $(() => {
        $('#search-button').on('click', function (e) {
            e.preventDefault();
            const value = $('#search-movies-input').val();
            if (value) {
                window.location.href = `/search?query=${value}`;
            } else {
                if ($('#search-movies-input').css('width') == '0px') {
                    $('#search-movies-input').removeClass('d-none');
                    setTimeout(() => {
                        $('#search-movies-input').css({
                            'width': '200px',
                            'transition': 'width 1s ease',
                        });
                    }, 0)
                } else {
                    $('#search-movies-input').css({
                        'width': '0px',
                        'transition': 'width 1s ease',
                    });
                    setTimeout(() => {
                        $('#search-movies-input').addClass('d-none');
                    }, 600)
                }
            }
        })
    })
</script>
<div style="height:100px"></div>