{{> js/home}}
{{> css/home}}
{{#if messages.success}}
<div class="d-flex justify-content-end alert alert-success" role="alert">
    {{messages.success}}
</div>
{{/if}}

<div class="container-fluid outer-container">
    <div>
        <h2>Movies in Top Box Office</h2>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner full-carousel">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center align-items-center place-6-movies">
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                            <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                <div class="option-list d-flex">
                                    <div
                                        class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-play fs-3 text-dark"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-plus fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-thumbs-up fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                        <i class="fa-solid fa-chevron-down fs-3"></i>
                                    </div>
                                </div>
                                <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                <div class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                    <div class="border border-3 m-0">
                                        <p class="m-0 ps-2 pe-2">18+</p>
                                    </div>
                                    <p class="m-0 fs-5 ms-2">1h 34m</p>
                                    <div class="border border-2 rounded m-0 ms-2">
                                        <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                    </div>
                                    <div class="m-0 ms-2 d-flex align-items-center">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div>
                                            <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                    <p class="text-light m-0">Feel-Good</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Goofy</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                            <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                <div class="option-list d-flex">
                                    <div
                                        class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-play fs-3 text-dark"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-plus fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-thumbs-up fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                        <i class="fa-solid fa-chevron-down fs-3"></i>
                                    </div>
                                </div>
                                <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                <div class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                    <div class="border border-3 m-0">
                                        <p class="m-0 ps-2 pe-2">18+</p>
                                    </div>
                                    <p class="m-0 fs-5 ms-2">1h 34m</p>
                                    <div class="border border-2 rounded m-0 ms-2">
                                        <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                    </div>
                                    <div class="m-0 ms-2 d-flex align-items-center">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div>
                                            <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                    <p class="text-light m-0">Feel-Good</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Goofy</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                            <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                <div class="option-list d-flex">
                                    <div
                                        class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-play fs-3 text-dark"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-plus fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-thumbs-up fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                        <i class="fa-solid fa-chevron-down fs-3"></i>
                                    </div>
                                </div>
                                <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                <div class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                    <div class="border border-3 m-0">
                                        <p class="m-0 ps-2 pe-2">18+</p>
                                    </div>
                                    <p class="m-0 fs-5 ms-2">1h 34m</p>
                                    <div class="border border-2 rounded m-0 ms-2">
                                        <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                    </div>
                                    <div class="m-0 ms-2 d-flex align-items-center">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div>
                                            <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                    <p class="text-light m-0">Feel-Good</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Goofy</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                            <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                <div class="option-list d-flex">
                                    <div
                                        class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-play fs-3 text-dark"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-plus fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-thumbs-up fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                        <i class="fa-solid fa-chevron-down fs-3"></i>
                                    </div>
                                </div>
                                <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                <div class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                    <div class="border border-3 m-0">
                                        <p class="m-0 ps-2 pe-2">18+</p>
                                    </div>
                                    <p class="m-0 fs-5 ms-2">1h 34m</p>
                                    <div class="border border-2 rounded m-0 ms-2">
                                        <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                    </div>
                                    <div class="m-0 ms-2 d-flex align-items-center">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div>
                                            <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                    <p class="text-light m-0">Feel-Good</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Goofy</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                            <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                <div class="option-list d-flex">
                                    <div
                                        class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-play fs-3 text-dark"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-plus fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-thumbs-up fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                        <i class="fa-solid fa-chevron-down fs-3"></i>
                                    </div>
                                </div>
                                <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                <div class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                    <div class="border border-3 m-0">
                                        <p class="m-0 ps-2 pe-2">18+</p>
                                    </div>
                                    <p class="m-0 fs-5 ms-2">1h 34m</p>
                                    <div class="border border-2 rounded m-0 ms-2">
                                        <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                    </div>
                                    <div class="m-0 ms-2 d-flex align-items-center">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div>
                                            <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                    <p class="text-light m-0">Feel-Good</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Goofy</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1 me-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                            <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                <div class="option-list d-flex">
                                    <div
                                        class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-play fs-3 text-dark"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-plus fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-thumbs-up fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                        <i class="fa-solid fa-chevron-down fs-3"></i>
                                    </div>
                                </div>
                                <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                <div class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                    <div class="border border-3 m-0">
                                        <p class="m-0 ps-2 pe-2">18+</p>
                                    </div>
                                    <p class="m-0 fs-5 ms-2">1h 34m</p>
                                    <div class="border border-2 rounded m-0 ms-2">
                                        <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                    </div>
                                    <div class="m-0 ms-2 d-flex align-items-center">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div>
                                            <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                    <p class="text-light m-0">Feel-Good</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Goofy</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">

                </div>
            </div>
            <button class="carousel-control-prev bg-secondary rounded-start p-1 next-prev-button" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next bg-secondary rounded-end p-1 next-prev-button" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="mt-5">
        <h2>Top 10 TV Shows in Vietnam Today</h2>
        <div id="carouselExampleIndicators1" class="carousel slide">
            <div class="carousel-inner full-carousel mt-5">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center align-items-center place-6-movies">
                        <div class="d-flex align-items-center ms-5 me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">1</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">2</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">3</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">4</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">5</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center align-items-center place-6-movies">
                        <div class="d-flex align-items-center ms-5 me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">6</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">7</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">8</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">9</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem; letter-spacing: -3rem">10</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev bg-secondary rounded-start p-1 next-prev-button" type="button"
                data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next bg-secondary rounded-end p-1 next-prev-button" type="button"
                data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="poster position-relative">
        <div class="position-absolute top-50 start-50 translate-middle" style="height: 50rem; width: 60vw">
            <div>
                <div class="movie-info-part">
                    <div class="m-0 movie-image position-relative">
                        <div
                            class="rounded-circle ms-5 d-flex justify-content-end border border-3 p-1 mb-3 position-absolute cancel-review">
                            <i class="fa-solid fa-xmark fs-3"></i>
                        </div>
                        <img src="/imgs/achelousaurus.jpg" width="100%" class="rounded-top" alt="">
                        <div class="d-flex align-items-center position-absolute action-on-movie justify-content-around"
                            style="width: 60vw;">
                            <div class="p-3">
                                <p class="movie-title fw-bold">GET OUT</p>
                                <div class="d-flex">
                                    <div class="bg-light fs-3 ps-5 pe-5 rounded text-dark">
                                        <i class="fa-solid fa-play"></i>
                                        Play
                                    </div>
                                    <div
                                        class="rounded-circle ms-2 d-flex justify-content-center align-items-center border border-5 p-1">
                                        <i class="fa-solid fa-plus fs-4"></i>
                                    </div>

                                    <div
                                        class="rounded-circle ms-2 d-flex justify-content-center align-items-center border border-5 p-1">
                                        <i class="fa-solid fa-thumbs-up fs-4"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="indistinct-chattering">
                                <b class="fs-4">[indistinct chattering]</b>
                            </div>

                            <div
                                class="rounded-circle ms-5 d-flex justify-content-center align-self-end border border-5 p-1 mb-3">
                                <i class="fa-solid fa-volume-high fs-4 text-body-tertiary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="m-0 pt-5 movie-details ps-5 pe-3 d-flex">
                        <div>
                            <div class="d-flex align-items-center">
                                <b class="text-success me-2">New</b>
                                <p class="m-0 me-2">2017</p>
                                <p class="m-0 me-2">1h 44m</p>
                                <p class="rounded border ps-2 pe-2 m-0 me-2">HD</p>
                                <div class="m-0 d-flex align-items-center me-2">
                                    <i class="fa-solid fa-podcast fs-3"></i>
                                    <div class="text">
                                        <p class="fw-bold m-0 ms-1">Spatial</p>
                                        <p class="m-0 ms-1 lh-1">Audio</p>
                                    </div>
                                </div>
                                <i class="fa-solid fa-rectangle-ad me-2"></i>
                                <i class="fa-regular fa-message"></i>
                            </div>

                            <div class="d-flex align-items-center">
                                <p class="border ps-2 pe-2 m-0 me-2 fw-bold">18+</p>
                                <p class="m-0">violence, language, suicide</p>
                            </div>

                            <div class="mt-5 fs-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aspernatur velit eos, ad
                                et fugiat numquam totam
                            </div>
                        </div>

                        <div class="ps-4">
                            <p>
                                <span class="text-body-tertiary">Cast:</span>
                                Cao Huu Quoc, Nguyen Quang Tuan, more
                            </p>

                            <p>
                                <span class="text-body-tertiary">Genres:</span>
                                Independent Movies, Horror Movies, US Movies
                            </p>

                            <p>
                                <span class="text-body-tertiary">This movie is:</span>
                                Ominous, Scary, Suspenseful
                            </p>
                        </div>
                    </div>
                </div>

                <div class="similar-movies bg-black p-5">
                    <h2>More Like This</h2>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img src="/imgs/achelousaurus.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title d-flex" style="font-size: 1rem;">
                                        <div class="d-flex align-items-center">
                                            <p class="border ps-2 pe-2 m-0 me-2 fw-bold">18+</p>
                                            <p class="rounded border ps-2 pe-2 m-0 me-2">HD</p>
                                            <p class="m-0 me-2">2017</p>
                                            <div class="m-0 d-flex align-items-center me-2">
                                                <i class="fa-solid fa-podcast fs-3"></i>
                                                <div class="text">
                                                    <p class="fw-bold m-0 ms-1">Spatial</p>
                                                    <p class="m-0 ms-1 lh-1">Audio</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="rounded-circle ms-2 d-flex justify-content-center align-items-center border border-5 p-1 ms-auto">
                                            <i class="fa-solid fa-plus fs-4"></i>
                                        </div>
                                    </h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/imgs/archaeopteryx.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title d-flex" style="font-size: 1rem;">
                                        <div class="d-flex align-items-center">
                                            <p class="border ps-2 pe-2 m-0 me-2 fw-bold">18+</p>
                                            <p class="rounded border ps-2 pe-2 m-0 me-2">HD</p>
                                            <p class="m-0 me-2">2017</p>
                                            <div class="m-0 d-flex align-items-center me-2">
                                                <i class="fa-solid fa-podcast fs-3"></i>
                                                <div class="text">
                                                    <p class="fw-bold m-0 ms-1">Spatial</p>
                                                    <p class="m-0 ms-1 lh-1">Audio</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="rounded-circle ms-2 d-flex justify-content-center align-items-center border border-5 p-1 ms-auto">
                                            <i class="fa-solid fa-plus fs-4"></i>
                                        </div>
                                    </h5>
                                    <p class="card-text">This is a short card.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/imgs/quetzalcoatlus.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title d-flex" style="font-size: 1rem;">
                                        <div class="d-flex align-items-center">
                                            <p class="border ps-2 pe-2 m-0 me-2 fw-bold">18+</p>
                                            <p class="rounded border ps-2 pe-2 m-0 me-2">HD</p>
                                            <p class="m-0 me-2">2017</p>
                                            <div class="m-0 d-flex align-items-center me-2">
                                                <i class="fa-solid fa-podcast fs-3"></i>
                                                <div class="text">
                                                    <p class="fw-bold m-0 ms-1">Spatial</p>
                                                    <p class="m-0 ms-1 lh-1">Audio</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="rounded-circle ms-2 d-flex justify-content-center align-items-center border border-5 p-1 ms-auto">
                                            <i class="fa-solid fa-plus fs-4"></i>
                                        </div>
                                    </h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/imgs/apatosaurus.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title d-flex" style="font-size: 1rem;">
                                        <div class="d-flex align-items-center">
                                            <p class="border ps-2 pe-2 m-0 me-2 fw-bold">18+</p>
                                            <p class="rounded border ps-2 pe-2 m-0 me-2">HD</p>
                                            <p class="m-0 me-2">2017</p>
                                            <div class="m-0 d-flex align-items-center me-2">
                                                <i class="fa-solid fa-podcast fs-3"></i>
                                                <div class="text">
                                                    <p class="fw-bold m-0 ms-1">Spatial</p>
                                                    <p class="m-0 ms-1 lh-1">Audio</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="rounded-circle ms-2 d-flex justify-content-center align-items-center border border-5 p-1 ms-auto">
                                            <i class="fa-solid fa-plus fs-4"></i>
                                        </div>
                                    </h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/imgs/deinonychus.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title d-flex" style="font-size: 1rem;">
                                        <div class="d-flex align-items-center">
                                            <p class="border ps-2 pe-2 m-0 me-2 fw-bold">18+</p>
                                            <p class="rounded border ps-2 pe-2 m-0 me-2">HD</p>
                                            <p class="m-0 me-2">2017</p>
                                            <div class="m-0 d-flex align-items-center me-2">
                                                <i class="fa-solid fa-podcast fs-3"></i>
                                                <div class="text">
                                                    <p class="fw-bold m-0 ms-1">Spatial</p>
                                                    <p class="m-0 ms-1 lh-1">Audio</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="rounded-circle ms-2 d-flex justify-content-center align-items-center border border-5 p-1 ms-auto">
                                            <i class="fa-solid fa-plus fs-4"></i>
                                        </div>
                                    </h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/imgs/agilisaurus.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title d-flex" style="font-size: 1rem;">
                                        <div class="d-flex align-items-center">
                                            <p class="border ps-2 pe-2 m-0 me-2 fw-bold">18+</p>
                                            <p class="rounded border ps-2 pe-2 m-0 me-2">HD</p>
                                            <p class="m-0 me-2">2017</p>
                                            <div class="m-0 d-flex align-items-center me-2">
                                                <i class="fa-solid fa-podcast fs-3"></i>
                                                <div class="text">
                                                    <p class="fw-bold m-0 ms-1">Spatial</p>
                                                    <p class="m-0 ms-1 lh-1">Audio</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="rounded-circle ms-2 d-flex justify-content-center align-items-center border border-5 p-1 ms-auto">
                                            <i class="fa-solid fa-plus fs-4"></i>
                                        </div>
                                    </h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/imgs/giganotosaurus.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title d-flex" style="font-size: 1rem;">
                                        <div class="d-flex align-items-center">
                                            <p class="border ps-2 pe-2 m-0 me-2 fw-bold">18+</p>
                                            <p class="rounded border ps-2 pe-2 m-0 me-2">HD</p>
                                            <p class="m-0 me-2">2017</p>
                                            <div class="m-0 d-flex align-items-center me-2">
                                                <i class="fa-solid fa-podcast fs-3"></i>
                                                <div class="text">
                                                    <p class="fw-bold m-0 ms-1">Spatial</p>
                                                    <p class="m-0 ms-1 lh-1">Audio</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="rounded-circle ms-2 d-flex justify-content-center align-items-center border border-5 p-1 ms-auto">
                                            <i class="fa-solid fa-plus fs-4"></i>
                                        </div>
                                    </h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/imgs/chinshakiangosaurus.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title d-flex" style="font-size: 1rem;">
                                        <div class="d-flex align-items-center">
                                            <p class="border ps-2 pe-2 m-0 me-2 fw-bold">18+</p>
                                            <p class="rounded border ps-2 pe-2 m-0 me-2">HD</p>
                                            <p class="m-0 me-2">2017</p>
                                            <div class="m-0 d-flex align-items-center me-2">
                                                <i class="fa-solid fa-podcast fs-3"></i>
                                                <div class="text">
                                                    <p class="fw-bold m-0 ms-1">Spatial</p>
                                                    <p class="m-0 ms-1 lh-1">Audio</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="rounded-circle ms-2 d-flex justify-content-center align-items-center border border-5 p-1 ms-auto">
                                            <i class="fa-solid fa-plus fs-4"></i>
                                        </div>
                                    </h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/imgs/indominus-rex.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title d-flex" style="font-size: 1rem;">
                                        <div class="d-flex align-items-center">
                                            <p class="border ps-2 pe-2 m-0 me-2 fw-bold">18+</p>
                                            <p class="rounded border ps-2 pe-2 m-0 me-2">HD</p>
                                            <p class="m-0 me-2">2017</p>
                                            <div class="m-0 d-flex align-items-center me-2">
                                                <i class="fa-solid fa-podcast fs-3"></i>
                                                <div class="text">
                                                    <p class="fw-bold m-0 ms-1">Spatial</p>
                                                    <p class="m-0 ms-1 lh-1">Audio</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="rounded-circle ms-2 d-flex justify-content-center align-items-center border border-5 p-1 ms-auto">
                                            <i class="fa-solid fa-plus fs-4"></i>
                                        </div>
                                    </h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>