{{> js/home}}
{{> css/home}}
{{#if messages.success}}
<div class="d-flex justify-content-end alert alert-success" role="alert">
    {{messages.success}}
</div>
{{/if}}

<div class="container-fluid outer-container">
    <div>
        <h2>Movies in Top Box Office</h2>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner full-carousel">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center align-items-center place-6-movies">
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                            <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                <div class="option-list d-flex">
                                    <div
                                        class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-play fs-3 text-dark"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-plus fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-thumbs-up fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                        <i class="fa-solid fa-chevron-down fs-3"></i>
                                    </div>
                                </div>
                                <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                <div class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                    <div class="border border-3 m-0">
                                        <p class="m-0 ps-2 pe-2">18+</p>
                                    </div>
                                    <p class="m-0 fs-5 ms-2">1h 34m</p>
                                    <div class="border border-2 rounded m-0 ms-2">
                                        <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                    </div>
                                    <div class="m-0 ms-2 d-flex align-items-center">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div>
                                            <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                    <p class="text-light m-0">Feel-Good</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Goofy</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                            <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                <div class="option-list d-flex">
                                    <div
                                        class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-play fs-3 text-dark"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-plus fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-thumbs-up fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                        <i class="fa-solid fa-chevron-down fs-3"></i>
                                    </div>
                                </div>
                                <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                <div class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                    <div class="border border-3 m-0">
                                        <p class="m-0 ps-2 pe-2">18+</p>
                                    </div>
                                    <p class="m-0 fs-5 ms-2">1h 34m</p>
                                    <div class="border border-2 rounded m-0 ms-2">
                                        <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                    </div>
                                    <div class="m-0 ms-2 d-flex align-items-center">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div>
                                            <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                    <p class="text-light m-0">Feel-Good</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Goofy</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                            <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                <div class="option-list d-flex">
                                    <div
                                        class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-play fs-3 text-dark"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-plus fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-thumbs-up fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                        <i class="fa-solid fa-chevron-down fs-3"></i>
                                    </div>
                                </div>
                                <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                <div class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                    <div class="border border-3 m-0">
                                        <p class="m-0 ps-2 pe-2">18+</p>
                                    </div>
                                    <p class="m-0 fs-5 ms-2">1h 34m</p>
                                    <div class="border border-2 rounded m-0 ms-2">
                                        <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                    </div>
                                    <div class="m-0 ms-2 d-flex align-items-center">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div>
                                            <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                    <p class="text-light m-0">Feel-Good</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Goofy</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                            <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                <div class="option-list d-flex">
                                    <div
                                        class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-play fs-3 text-dark"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-plus fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-thumbs-up fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                        <i class="fa-solid fa-chevron-down fs-3"></i>
                                    </div>
                                </div>
                                <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                <div class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                    <div class="border border-3 m-0">
                                        <p class="m-0 ps-2 pe-2">18+</p>
                                    </div>
                                    <p class="m-0 fs-5 ms-2">1h 34m</p>
                                    <div class="border border-2 rounded m-0 ms-2">
                                        <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                    </div>
                                    <div class="m-0 ms-2 d-flex align-items-center">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div>
                                            <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                    <p class="text-light m-0">Feel-Good</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Goofy</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                            <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                <div class="option-list d-flex">
                                    <div
                                        class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-play fs-3 text-dark"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-plus fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-thumbs-up fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                        <i class="fa-solid fa-chevron-down fs-3"></i>
                                    </div>
                                </div>
                                <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                <div class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                    <div class="border border-3 m-0">
                                        <p class="m-0 ps-2 pe-2">18+</p>
                                    </div>
                                    <p class="m-0 fs-5 ms-2">1h 34m</p>
                                    <div class="border border-2 rounded m-0 ms-2">
                                        <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                    </div>
                                    <div class="m-0 ms-2 d-flex align-items-center">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div>
                                            <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                    <p class="text-light m-0">Feel-Good</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Goofy</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1 me-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                            <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                <div class="option-list d-flex">
                                    <div
                                        class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-play fs-3 text-dark"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-plus fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                        <i class="fa-solid fa-thumbs-up fs-3"></i>
                                    </div>
                                    <div
                                        class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                        <i class="fa-solid fa-chevron-down fs-3"></i>
                                    </div>
                                </div>
                                <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                <div class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                    <div class="border border-3 m-0">
                                        <p class="m-0 ps-2 pe-2">18+</p>
                                    </div>
                                    <p class="m-0 fs-5 ms-2">1h 34m</p>
                                    <div class="border border-2 rounded m-0 ms-2">
                                        <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                    </div>
                                    <div class="m-0 ms-2 d-flex align-items-center">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div>
                                            <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                    <p class="text-light m-0">Feel-Good</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Goofy</p>
                                    <div class="m-0 bg-secondary rounded ms-2"></div>
                                    <p class="text-light m-0 ms-2">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">

                </div>
            </div>
            <button class="carousel-control-prev bg-secondary rounded-start p-1 next-prev-button" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>Previous
            </button>
            <button class="carousel-control-next bg-secondary rounded-end p-1 next-prev-button" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">Next
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="mt-5">
        <h2>Top 10 TV Shows in Vietnam Today</h2>
        <div id="carouselExampleIndicators1" class="carousel slide">
            <div class="carousel-inner full-carousel mt-5">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center align-items-center place-6-movies">
                        <div class="d-flex align-items-center ms-5 me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">1</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">2</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">3</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">4</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">5</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center align-items-center place-6-movies">
                        <div class="d-flex align-items-center ms-5 me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">6</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">7</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">8</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">9</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center me-5 all-container">
                            <div class="d-flex align-items-center justify-content-center movie-top-10-VN-hovered"
                                style="width: 18rem;">
                                <p class="number1 m-0" style="margin-left: 1rem;">0</p>
                                <img src="/imgs/allosaurus.webp" class="d-block rounded" alt="..."
                                    style="height: 15rem; width: 10rem; margin-left: -58px; margin-top: 1.04rem;">
                            </div>

                            <div class="movie-top-10-VN-info me-1">
                                <img src="/imgs/allosaurus.webp" class="d-block rounded-top" alt="...">
                                <div class="movie-actions bg-black p-2 rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-play fs-3 text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-plus fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5">
                                            <i class="fa-solid fa-thumbs-up fs-3"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5">
                                            <i class="fa-solid fa-chevron-down fs-3"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fs-5 fw-bold m-0 mt-3">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-3 m-0">
                                            <p class="m-0 ps-2 pe-2">18+</p>
                                        </div>
                                        <p class="m-0 fs-5 ms-2">1h 34m</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-3"></i>
                                            <div>
                                                <p class="fs-5 fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start mt-3 align-items-center movie-categories">
                                        <p class="text-light m-0">Feel-Good</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Goofy</p>
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2">Martial Arts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev bg-secondary rounded-start p-1 next-prev-button" type="button"
                data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>Previous
            </button>
            <button class="carousel-control-next bg-secondary rounded-end p-1 next-prev-button" type="button"
                data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">Next
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>