{{#if messages.success}}
<div class="d-flex justify-content-end alert alert-success" role="alert">
    {{messages.success}}
</div>
{{/if}}

<div class="container-fluid">
    <div>
        <h2>Movies in Top Box Office</h2>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center align-items-center" style="height: 30rem;">
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/allosaurus.webp" class="d-block rounded"
                                style="height: 15rem; width: 18rem" alt="...">
                            <div class="movie-actions bg-black p-3 d-none">
                                <div class="option-list d-flex">
                                    <div class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-play fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-plus fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-thumbs-up fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-chevron-down fs-1"></i>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between mt-4 align-items-center">
                                    <h2 class="text-success fs-3 fw-bold">82% Match</h2>
                                    <div class="border border-3 p-2" style="height: fit-content;">
                                        <h3>7+</h3>
                                    </div>
                                    <h2>1h 34m</h2>
                                    <div class="border border-3 rounded p-1" style="height: fit-content;">
                                        <h3>HD</h3>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-podcast fs-1"></i>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-4 align-items-center">
                                    <p class="text-light fs-4">Feel-Good</p>
                                    <i class="fa-solid fa-circle ms-2 me-2"></i>
                                    <p class="text-light fs-4">Goofy</p>
                                    <i class="fa-solid fa-circle ms-2 me-2"></i>
                                    <p class="text-light fs-4">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/atrociraptor.jpg" class="d-block rounded"
                                style="height: 15rem; width: 18rem" alt="...">
                            <div class="movie-actions bg-black p-3 d-none">
                                <div class="option-list d-flex">
                                    <div class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-play fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-plus fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-thumbs-up fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-chevron-down fs-1"></i>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between mt-4 align-items-center">
                                    <h2 class="text-success fs-3 fw-bold">82% Match</h2>
                                    <div class="border border-3 p-2" style="height: fit-content;">
                                        <h3>7+</h3>
                                    </div>
                                    <h2>1h 34m</h2>
                                    <div class="border border-3 rounded p-1" style="height: fit-content;">
                                        <h3>HD</h3>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-podcast fs-1"></i>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-4 align-items-center">
                                    <p class="text-light fs-4">Feel-Good</p>
                                    <i class="fa-solid fa-circle ms-2 me-2"></i>
                                    <p class="text-light fs-4">Goofy</p>
                                    <i class="fa-solid fa-circle ms-2 me-2"></i>
                                    <p class="text-light fs-4">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/ceratosaurus.jpg" class="d-block rounded"
                                style="height: 15rem; width: 18rem" alt="...">
                            <div class="movie-actions bg-black p-3 d-none">
                                <div class="option-list d-flex">
                                    <div class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-play fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-plus fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-thumbs-up fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-chevron-down fs-1"></i>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between mt-4 align-items-center">
                                    <h2 class="text-success fs-3 fw-bold">82% Match</h2>
                                    <div class="border border-3 p-2" style="height: fit-content;">
                                        <h3>7+</h3>
                                    </div>
                                    <h2>1h 34m</h2>
                                    <div class="border border-3 rounded p-1" style="height: fit-content;">
                                        <h3>HD</h3>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-podcast fs-1"></i>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-4 align-items-center">
                                    <p class="text-light fs-4">Feel-Good</p>
                                    <i class="fa-solid fa-circle ms-2 me-2"></i>
                                    <p class="text-light fs-4">Goofy</p>
                                    <i class="fa-solid fa-circle ms-2 me-2"></i>
                                    <p class="text-light fs-4">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/plateosaurus.jpg" class="d-block rounded"
                                style="height: 15rem; width: 18rem" alt="...">
                            <div class="movie-actions bg-black p-3 d-none">
                                <div class="option-list d-flex">
                                    <div class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-play fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-plus fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-thumbs-up fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-chevron-down fs-1"></i>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between mt-4 align-items-center">
                                    <h2 class="text-success fs-3 fw-bold">82% Match</h2>
                                    <div class="border border-3 p-2" style="height: fit-content;">
                                        <h3>7+</h3>
                                    </div>
                                    <h2>1h 34m</h2>
                                    <div class="border border-3 rounded p-1" style="height: fit-content;">
                                        <h3>HD</h3>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-podcast fs-1"></i>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-4 align-items-center">
                                    <p class="text-light fs-4">Feel-Good</p>
                                    <i class="fa-solid fa-circle ms-2 me-2"></i>
                                    <p class="text-light fs-4">Goofy</p>
                                    <i class="fa-solid fa-circle ms-2 me-2"></i>
                                    <p class="text-light fs-4">Martial Arts</p>
                                </div>
                            </div>
                        </div>
                        <div class="movie-hoverred ms-1">
                            <img src="/imgs/agilisaurus.webp" class="d-block rounded"
                                style="height: 15rem; width: 18rem" alt="...">
                            <div class="movie-actions bg-black p-3 d-none">
                                <div class="option-list d-flex">
                                    <div class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-play fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-plus fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-thumbs-up fs-1"></i>
                                    </div>
                                    <div class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-5"
                                        style="width: 4rem; height: 4rem">
                                        <i class="fa-solid fa-chevron-down fs-1"></i>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between mt-4 align-items-center">
                                    <h2 class="text-success fs-3 fw-bold">82% Match</h2>
                                    <div class="border border-3 p-2" style="height: fit-content;">
                                        <h3>7+</h3>
                                    </div>
                                    <h2>1h 34m</h2>
                                    <div class="border border-3 rounded p-1" style="height: fit-content;">
                                        <h3>HD</h3>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-podcast fs-1"></i>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start mt-4 align-items-center">
                                    <p class="text-light fs-4">Feel-Good</p>
                                    <i class="fa-solid fa-circle ms-2 me-2"></i>
                                    <p class="text-light fs-4">Goofy</p>
                                    <i class="fa-solid fa-circle ms-2 me-2"></i>
                                    <p class="text-light fs-4">Martial Arts</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center align-items-center" style="height: 22rem;">
                        <img src="/imgs/ankylosaurus.webp" class="d-block rounded ms-1"
                            style="height: 15rem; width: 22rem" alt="...">
                        <img src="/imgs/stegosaurus.jpg" class="d-block rounded ms-1"
                            style="height: 15rem; width: 22rem" alt="...">
                        <img src="/imgs/apatosaurus.jpg" class="d-block rounded ms-1"
                            style="height: 15rem; width: 22rem" alt="...">
                        <img src="/imgs/spino.webp" class="d-block rounded ms-1" style="height: 15rem; width: 22rem"
                            alt="...">
                        <img src="/imgs/acrocanthosaurus.jpg" class="d-block rounded ms-1"
                            style="height: 15rem; width: 22rem" alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>Previous
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>Next
            </button>
        </div>
    </div>

    <div>
        <h2>Movies with Highest Profit</h2>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.movie-hoverred').each(function () {
            $(this).on('mouseover', function () {
                $('.movie-actions', this).removeClass('d-none');
                $('.movie-actions', this).css({
                    'width': '29rem'
                });
                $('img', this).css({
                    'width': '29rem'
                });
            });

            $(this).on('mouseout', function () {
                $('.movie-actions', this).addClass('d-none');
                $('> img', this).css({
                    'width': '18rem'
                });
            });
        });
    });
</script>