<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input  id="form-control me-2" type="text" onchange={}>
    <div id="result">The typed value is <span id="info"></span></div>
    <div class="searchmovieName"> Movie name is: </div> 
    
    <Script>
      async function fetchMovieDataSynchronously (){
            
            const url = 'https://api.themoviedb.org/3/genre/movie/list?language=en';
            const options = {
            method: 'GET',
            headers: {
                accept: 'application/json',
                Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmNDNmZjQyN2ExYzJjZjYzMDRlNzZiYWQ2MzVmMjFhOSIsInN1YiI6IjY2MGI5ZDllOWM5N2JkMDE3Y2E0YjI2NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.WGH-mBZJE25NOc9WuEDiwzQnNtlSorvr7oI-s2erpsU'
            }
            };

            try {
        const res = await fetch(url, options);
        const json = await res.json();
        return json;
    } catch (err) {
        console.error('error:' + err);
        throw err;
    }
}

// Usage
(async function findID () {
    try {
        const result = await fetchMovieDataSynchronously();
        const myInputField = document.getElementById("form-control me-2")

        myInputField.addEventListener("input", (e) =>{
            console.log(myInputField.value)

            for (let i = 0; i < result.genres.length; i++) {

                genresNameFromApi = (result.genres[i].name).toLowerCase()
                searchInput = (myInputField.value).toLowerCase()

            if( genresNameFromApi == searchInput ){

                console.log(result.genres[i].id);
            {

            const url = 'https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page=1&sort_by=popularity.desc&with_genres=' + result.genres[i].id;
            const options = {
            method: 'GET',
            headers: {
                accept: 'application/json',
                Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmNDNmZjQyN2ExYzJjZjYzMDRlNzZiYWQ2MzVmMjFhOSIsInN1YiI6IjY2MGI5ZDllOWM5N2JkMDE3Y2E0YjI2NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.WGH-mBZJE25NOc9WuEDiwzQnNtlSorvr7oI-s2erpsU'
            }
            };

            fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
            }
                return result.genres[i].name 
            }
        }
   })



         // Use the result as needed

    } catch (err) {
        // Handle errors if needed
        console.error('Failed to fetch movie data:', err);
    }
})();


// Vd ve cac category: War , action, comedy, animation
        </Script>
 </body>
</html>

