<div class="container">
	<h1>Subscribe to Our Services</h1>
	<p>Enjoy unlimited access to movies, TV shows, and more!</p>
	<button id="trial-btn" class="btn btn-secondary">Try for 7 Days</button>
	<div class="row row-cols-2">
		<div class="card border-0 shadow rounded-3 my-5 col">
			<div class="card-body p-2 p-sm-5">
				<h5 class="card-title text-center mb-5 fw-light fs-5">Standard Plan<br>100,000 VND</h5>
				<ul>
					<li>Unlimited ad-free movies and TV shows</li>
					<li>Watch in 1080p HD</li>
				</ul>
				<button id="subscribe-btn" class="btn btn-danger">Subscribe for 30 days</button>
			</div>
		</div>
		<div class="card border-0 shadow rounded-3 my-5 col">
			<div class="card-body p-2 p-sm-5">
				<h5 class="card-title text-center mb-5 fw-light fs-5">Premium Plan<br>200,000 VND</h5>
				<ul>
					<li>Unlimited ad-free movies and TV shows</li>
					<li>Watch in 2K Full HD</li>
				</ul>
				<button id="fhd-subscribe-btn" class="btn btn-danger">Subscribe for 30 days</button>
			</div>
		</div>
	</div>
</div>

<script>
	document.getElementById('subscribe-btn').addEventListener('click', function () {
		window.location.href = '/subscribe/process';
	});
	document.getElementById('fhd-subscribe-btn').addEventListener('click', function () {
		window.location.href = '/subscribe/process-fhd';
	});
	document.getElementById('trial-btn').addEventListener('click', function () {
		window.location.href = '/subscribe/trial';
	});
</script>