{{> css/video }}
{{> js/video }}
<div class="w-100 h-100 d-flex justify-content-center align-items-center" style="background-color:black">
    <video class="position-absolute" width="100%" height="100%">
        <source src="https://file.garden/ZfpCIAeKR2HIs_bB/movies/sample.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="position-absolute top-0 w-100 d-flex controls" id="top-control">
        <i class="fa-solid fa-arrow-left m-4 ps-1"></i>
    </div>
    <div class="position-absolute bottom-0 w-100 d-flex controls" id="video-control">
        <i id="play-pause" class="fa-solid fa-play m-4 pb-2 ps-1"></i>
        <i id="audio" class="fa-solid fa-volume-high m-4 ms-1 pb-2 ps-1"></i>
        <div style="margin-left:auto"></div>
        <i class="fa-solid fa-gauge-simple-high m-4 me-1 pb-2 ps-1"></i>
        <i class="fa-solid fa-expand m-4 pb-2 ps-1"></i>
    </div>
    <progress class="position-absolute controls"></progress>
</div>