{{> css/video }}
{{> js/video }}
<div class="w-100 h-100 d-flex justify-content-center align-items-center" style="background-color:black" id="video-container">
    <video class="position-absolute" width="100%" height="100%">
        <source src="https://file.garden/ZfpCIAeKR2HIs_bB/movies/sample.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="position-absolute top-0 w-100 d-flex controls" id="top-control">
        <a class="link-unstyled" href="/home"><i class="fa-solid fa-arrow-left m-4 ps-1"></i></a>
    </div>
    <div class="position-absolute bottom-0 w-100 d-flex flex-column controls" id="video-control">
        <div class="position-absolute bg-dark rounded p-4 px-5" id="playback-speed">
            <h2 class="mb-5">Playback Speed</h2>
            <div class="d-flex position-relative my-4">
                <hr class="position-absolute w-100 m-0">
                <div class="rounded-pill speed-button"></div>
                <div class="rounded-pill speed-button"></div>
                <div class="rounded-pill speed-button speed-button-active"></div>
                <div class="rounded-pill speed-button"></div>
                <div class="rounded-pill speed-button"></div>
            </div>
            <div class="d-flex" id="playback-text">
                <p class="fs-3">0.5x</p>
                <p class="fs-3">0.75x</p>
                <p class="fs-3" style="font-weight:bold">1x (Normal)</p>
                <p class="fs-3">1.25x</p>
                <p class="fs-3">1.5x</p>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center" id="progress-container">
            <input type="range" class="form-range ps-1" id="video-progress" min="0" value="0">
            <p class="fs-5 m-0 ms-3 pe-1" id="timestamp">00:00</p>
        </div>
        <div class="d-flex align-items-center">
            <i id="play-pause" class="fa-solid fa-play m-4 pb-2 ps-1"></i>
            <i id="backward-10" class="fa-solid fa-rotate-left m-4 ms-1 pb-2 ps-2"></i>
            <i id="forward-10" class="fa-solid fa-rotate-right m-4 ms-1 pb-2 ps-3"></i>
            <i id="audio" class="fa-solid fa-volume-high m-4 ms-4 pb-2 ps-2"></i>
            <input type="range" class="form-range ms-4" id="audio-range" min="0" max="100" value="100">
            <h4 style="margin-left:auto; margin-right:auto">Movie Name</h4>
            <i id="playback" class="fa-solid fa-gauge-simple-high m-4 me-3 pb-2 ps-1 rtl"></i>
            <i id="expand" class="fa-solid fa-expand m-4 pb-2 rtl"></i>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center rounded-circle position-absolute" id="play-pause-animation">
        <i class="fa-solid fa-pause"></i>
    </div>
</div>