<script>
    $(() => {
        let data, genreCur;
        let pageCur = 1;

        const fields = ['name', 'create_date', 'brand', 'color', 'images', 'price', 'description', 'sale', 'for', 'id_category'];

        // Pagination
        $(".page-genre").on("click", function() {
            $(".page-genre.active").removeClass("active");
            $(this).addClass("active");

            $("#genre-pagination .page-arrows a.disabled").removeClass("disabled");
            if ($(this).parent().next().hasClass("page-arrows")) $("#page-genre-next").addClass("disabled");
            if ($(this).parent().prev().hasClass("page-arrows")) $("#page-genre-prev").addClass("disabled");

            let page = $(this).text();
            pageCur = Number(page);

            $("#genre-container").empty();

            $.ajax({
                type: 'POST',
                url: '/admin/getgenre',
                data: {
                    page: page
                },
                success: function(result) {
                    data = result;
                    genreCur = data[0];
                    result.forEach(item => {
                        $("#genre-container").append(
                            `<a class="list-group-item list-group-item-action list-item-genre">
                                <div class="d-flex align-items-center">
                                    <img src="${item.images[0] ? item.images[0] : ""}"
                                    class="me-3" style="width:70px;height:70px">
                                    <div class="d-flex w-100 flex-column">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">#${item.id}</h5>
                                            <small>${item.categoryname}</small>
                                        </div>
                                        <p class="mb-1">${item.name}</p>
                                    </div>
                                </div>
                            </a>`
                        );
                    });
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        $("#genre-pagination .page-arrows a").on("click", function() {
            let id = $(this).attr("id");

            if (id.includes("prev")) pageCur--;
            else pageCur++;

            $(`#page-genre-${pageCur}`).trigger("click");
        });

        $(`#page-genre-${pageCur}`).trigger("click");

        // CRUD - Create
        $("#open-add-genre").on("click", function() {
            $(".file-input").show();
            $("#edit-genre").removeClass("d-none").find("input,textarea").val("");
            $("#genre-container,#genre-pagination,.btn-edit-genre").addClass("d-none");
            $("#add-genre").removeClass("d-none");
        });

        $("#add-genre").on("click", function() {
            let genreAdd = {};
            for (const key in genreCur) {
                if (!fields.includes(key)) continue;
                genreAdd[key] = $(`#genre-${key}`).next().val();
                if (!genreAdd[key]) return alert('Xin hãy điền đầy đủ thông tin!');
            }

            $.ajax({
                type: 'POST',
                url: '/admin/addgenre',
                data: genreAdd,
                success: function(result) {
                    alert('Thêm sản phẩm thành công!');
                    window.location.reload();
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        // CRUD - Read
        $("body").on("click", ".list-item-genre", function() {
            $(".file-input").hide();
            $("#edit-genre").removeClass("d-none");
            $("#genre-container,#genre-pagination").addClass("d-none");

            genreCur = data[$(this).index()];

            for (const key in genreCur) {
                if (!fields.includes(key)) continue;
                let value = genreCur[key];
                if (key === "create_date") value = value.split("T")[0];
                if (typeof value === "string") value = value.trim();
                $(`#genre-${key}`).next().val(value);
            }
        });

        // CRUD - Update
        $("#update-edit-genre").on("click", function() {
            let genreUpdate = {id: genreCur.id};
            for (const key in genreCur) {
                if (!fields.includes(key)) continue;
                genreUpdate[key] = $(`#genre-${key}`).next().val();
                if (!genreUpdate[key]) return alert('Xin hãy điền đầy đủ thông tin!');
            }

            $.ajax({
                type: 'POST',
                url: '/admin/updgenre',
                data: genreUpdate,
                success: function(result) {
                    alert('Sản phẩm cập nhật thành công!');
                    window.location.reload();
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        $("#cancel-edit-genre").on("click", function() {
            $("#edit-genre,#add-genre").addClass("d-none");
            $("#genre-container,#genre-pagination,.btn-edit-genre").removeClass("d-none");
        });

        // CRUD - Delete
        $("#delete-edit-genre").on("click", function() {
            $.ajax({
                type: 'POST',
                url: '/admin/delgenre',
                data: {
                    id: genreCur.id
                },
                success: function(result) {
                    alert('Xóa sản phẩm thành công!');
                    window.location.reload();
                },
                error: function(result) {
                    console.log(result);
                }
            });
        });

        // Upload file
        $("#genre-upload").fileinput({
            uploadUrl: "/upload",
            uploadAsync: false,
            maxFileCount: 5
        });

        $("#genre-upload").on('filebatchuploadsuccess', function(event, data, previewId, index) {
            $("#genre-images").next().val(data.response.files.map(e => e.destination + '/' + e.filename).join(","));
        });
    })
</script>