<script>
    $(document).ready(function () {
        const video = $('#video')[0];
        const apiKey = "4c77e97c4ce07a96701879736016c67eb230e92c2418998fb81d4714"

        let src = '', title = '', runtime = '', genres = '', overview = '', genreIds = '', page = 1, total_pages = -1, toLoadMore, pageNew = 1, total_pages_new = -1;
        const listMovies = [];
        $('video').prop('volume', '0.1').prop('muted', true);

        $('.movie-hoverred').each(function () {
            $(this).on('mouseover', function () {
                $('.movie-actions', this).removeClass('d-none');
                $('.thumbnail', this).addClass('d-none');

                $('.run-video-when-hovering', this).removeClass('d-none');

                src = $('.thumbnail', this).attr('src');
                title = $('.thumbnail', this).attr('data-title');
                overview = $('.thumbnail', this).attr('data-overview');

                if (title) title = title.toUpperCase();
                runtime = $('.movie-runtime', this).text();

                genres = '';
                genreIds = '';

                $('.all-genre', this).each(function () {
                    const genre = $(this).text().trim();
                    genres = genres + genre + ", ";
                });

                $('.genre-id', this).each(function () {
                    const id = $(this).text().trim();
                    genreIds += id + ",";
                });

                if (genres) {
                    genres = genres.slice(0, genres.length - 2);
                }

                if (genreIds) {
                    genreIds = genreIds.slice(0, genreIds.length - 1);
                }

                const video = $('.run-video-when-hovering > video', this)[0];
                const checkAvailability = video.play();
                if (checkAvailability !== undefined) {
                    checkAvailability.then(() => {
                    }).catch(error => {
                        video.muted = true;
                        video.play();
                    });
                }

                $(this).css({
                    'transform': 'scale(1.5)',
                    'transition': '0.5s',
                    'position': 'relative',
                });
            });

            $(this).on('mouseleave', function () {
                $('.movie-actions', this).addClass('d-none');
                $('.thumbnail', this).removeClass('d-none');
                $('.run-video-when-hovering', this).addClass('d-none');
                $('.run-video-when-hovering > video', this)[0].pause();
                $('.run-video-when-hovering > video', this)[0].currentTime = 0;
                $(this).css({
                    'transform': 'scale(1)',
                    'transition': '0.5s',
                });
            });
        });

        $('.open-movie-details').on('click', async function () {
            let poster_template = `{{> poster}}`;   
            $('.outer-container').append(poster_template);
            listMovies.push(title.toLowerCase());

            {{#unless search}} if (!video.muted) $('.volumn').trigger('click'); {{/unless}}

            $.ajax({
                url: 'http://localhost:3000/home/getKeyWords',
                method: 'POST',
                data: {
                    text: overview,
                },
                success: async function(response) {
                    toLoadMore = response.data;
                    console.log(toLoadMore);
                    if (toLoadMore !== "search categories") {
                        const testIfHas = `https://api.themoviedb.org/3/search/movie?api_key=f43ff427a1c2cf6304e76bad635f21a9&query=${toLoadMore.label}&page=${pageNew}`;
                        let responseTest = await fetch(testIfHas);
                        let jsonTest = await responseTest.json();
                        let MoreLikeThisTest = jsonTest.results;
                        if (MoreLikeThisTest.length === 0) {
                            toLoadMore = "search categories";
                        }
                    }


                    if (toLoadMore === "search categories") {
                        const url = `https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page=${page}&sort_by=popularity.desc&with_genres=${genreIds}`;
                        const options = {
                            method: 'GET',
                            headers: {
                                accept: 'application/json',
                                Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmNDNmZjQyN2ExYzJjZjYzMDRlNzZiYWQ2MzVmMjFhOSIsInN1YiI6IjY2MGI5ZDllOWM5N2JkMDE3Y2E0YjI2NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.WGH-mBZJE25NOc9WuEDiwzQnNtlSorvr7oI-s2erpsU'
                            }
                        };

                        fetch(url, options)
                        .then(res => res.json())
                        .then(
                            json => {
                                total_pages = json.total_pages;
                                let MoreLikeThis = json.results;

                                let list = ``;

                                MoreLikeThis.forEach(movie => {
                                    if (movie.title.toLowerCase() != title.toLowerCase()) {
                                        listMovies.push(movie.title.toLowerCase());
                                        let age = movie.adult ? "18+" : "13+";
                                        let year = movie.release_date.split('-')[0];
                                        list += 
                                        `
                                        <div class="col">
                                            <div class="card h-100" style="padding: .2rem !important;">
                                                <img src="https://image.tmdb.org/t/p/original${movie.poster_path}" class="card-img-top" alt="..." style="height: 14rem">
                                                <div class="card-body">
                                                    <h5 class="card-title d-flex" style="font-size: 1rem;">
                                                        <div class="d-flex align-items-center">
                                                            <p class="border ps-2 pe-2 m-0 me-2 fw-bold" style="font-size: 1rem;">${age}</p>
                                                            <p class="rounded border ps-2 pe-2 m-0 me-2" style="font-size: .7rem;">HD</p>
                                                            <p class="m-0" style="font-size: 1rem;">${year}</p>
                                                            <i class="fa-solid fa-podcast fs-5 ms-2"></i>
                                                        </div>

                                                        <div
                                                            class="rounded-circle ms-2 add-to-list d-flex justify-content-center align-items-center border border-2 p-1 ms-auto">
                                                            <i class="fa-solid fa-plus fs-4"></i>
                                                        </div>
                                                    </h5>
                                                    <p class="card-text overview">${movie.overview}</p>
                                                </div>
                                            </div>
                                        </div>
                                        `
                                    }
                                });

                                $('.load-more-movies').append(list);


                                $('.get-more-movies').on('click', function () {
                                    $(this).addClass('stop-from-clicking');
                                    $('.icon-down', this).addClass('d-none');
                                    $('.icon-load', this).removeClass('d-none');
                                    if (page < total_pages) {
                                        page += 1;
                                        const urlNew = `https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page=${page}&sort_by=popularity.desc&with_genres=${genreIds}`; 
                                        fetch(urlNew, options)
                                        .then(res => res.json())
                                        .then(
                                            json => {
                                                MoreLikeThis = json.results;
                                                list = ``;

                                                MoreLikeThis.forEach(movie => {
                                                    if (movie.title.toLowerCase() != title.toLowerCase()) {
                                                        let age = movie.adult ? "18+" : "13+";
                                                        let year = movie.release_date.split('-')[0];
                                                        list += 
                                                        `
                                                        <div class="col">
                                                            <div class="card h-100" style="padding: .2rem !important;">
                                                                <img src="https://image.tmdb.org/t/p/original${movie.poster_path}" class="card-img-top" alt="..." style="height: 14rem">
                                                                <div class="card-body">
                                                                    <h5 class="card-title d-flex" style="font-size: 1rem;">
                                                                        <div class="d-flex align-items-center">
                                                                            <p class="border ps-2 pe-2 m-0 me-2 fw-bold" style="font-size: 1rem;">${age}</p>
                                                                            <p class="rounded border ps-2 pe-2 m-0 me-2" style="font-size: .7rem;">HD</p>
                                                                            <p class="m-0" style="font-size: 1rem;">${year}</p>
                                                                            <i class="fa-solid fa-podcast fs-5 ms-2"></i>
                                                                        </div>

                                                                        <div
                                                                            class="rounded-circle ms-2 add-to-list d-flex justify-content-center align-items-center border border-2 p-1 ms-auto">
                                                                            <i class="fa-solid fa-plus fs-4"></i>
                                                                        </div>
                                                                    </h5>
                                                                    <p class="card-text overview">${movie.overview}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        `
                                                    }
                                                });

                                                $('.load-more-movies').append(list);

                                                $(this).removeClass('stop-from-clicking');
                                                $('.icon-down', this).removeClass('d-none');
                                                $('.icon-load', this).addClass('d-none');
                                            }
                                        )
                                    } else {

                                    }
                                });
                            })
                        .catch(err => console.error('error:' + err));
                    } else {
                        if (toLoadMore.score === 1 && toLoadMore.label.indexOf('(') !== -1) {
                            let index = toLoadMore.label.indexOf('(');
                            let index1 = toLoadMore.label.indexOf(')');
                            toLoadMore = toLoadMore.label.slice(index, index1 + 1);
                        } else {
                            toLoadMore = toLoadMore.label.split(' ')[0];
                        }
                        const url = `https://api.themoviedb.org/3/search/movie?api_key=f43ff427a1c2cf6304e76bad635f21a9&query=${toLoadMore}&page=${pageNew}`;

                        try {
                            let response = await fetch(url);
                            let json = await response.json();
                            let MoreLikeThis = json.results;
                            total_pages_new = json.total_pages;
                            let list = ``;

                            MoreLikeThis.forEach(movie => {
                                if (movie.title.toLowerCase() != title.toLowerCase()) {
                                    listMovies.push(movie.title.toLowerCase());
                                    let age = movie.adult ? "18+" : "13+";
                                    let year = movie.release_date.split('-')[0];
                                    list += 
                                    `
                                    <div class="col">
                                        <div class="card h-100" style="padding: .2rem !important;">
                                            <img src="https://image.tmdb.org/t/p/original${movie.poster_path}" class="card-img-top" alt="..." style="height: 14rem">
                                            <div class="card-body">
                                                <h5 class="card-title d-flex" style="font-size: 1rem;">
                                                    <div class="d-flex align-items-center">
                                                        <p class="border ps-2 pe-2 m-0 me-2 fw-bold" style="font-size: 1rem;">${age}</p>
                                                        <p class="rounded border ps-2 pe-2 m-0 me-2" style="font-size: .7rem;">HD</p>
                                                        <p class="m-0" style="font-size: 1rem;">${year}</p>
                                                        <i class="fa-solid fa-podcast fs-5 ms-2"></i>
                                                    </div>

                                                    <div
                                                        class="rounded-circle ms-2 add-to-list d-flex justify-content-center align-items-center border border-2 p-1 ms-auto">
                                                        <i class="fa-solid fa-plus fs-4"></i>
                                                    </div>
                                                </h5>
                                                <p class="card-text overview">${movie.overview}</p>
                                            </div>
                                        </div>
                                    </div>
                                    `
                                }
                            });

                            $('.load-more-movies').append(list);

                            $('.get-more-movies').on('click', async function () {
                                $(this).addClass('stop-from-clicking');
                                $('.icon-down', this).addClass('d-none');
                                $('.icon-load', this).removeClass('d-none');
                                if (pageNew < total_pages_new) {
                                    pageNew += 1;
                                    const urlNew = `https://api.themoviedb.org/3/search/movie?api_key=f43ff427a1c2cf6304e76bad635f21a9&query=${toLoadMore}&page=${pageNew}`;
                                    response = await fetch(urlNew);
                                    json = await response.json();
                                    MoreLikeThis = json.results;
                                    list = ``;

                                    MoreLikeThis.forEach(movie => {
                                        if (movie.title.toLowerCase() != title.toLowerCase()) {
                                            let age = movie.adult ? "18+" : "13+";
                                            let year = movie.release_date.split('-')[0];
                                            list += 
                                            `
                                            <div class="col">
                                                <div class="card h-100" style="padding: .2rem !important;">
                                                    <img src="https://image.tmdb.org/t/p/original${movie.poster_path}" class="card-img-top" alt="..." style="height: 14rem">
                                                    <div class="card-body">
                                                        <h5 class="card-title d-flex" style="font-size: 1rem;">
                                                            <div class="d-flex align-items-center">
                                                                <p class="border ps-2 pe-2 m-0 me-2 fw-bold" style="font-size: 1rem;">${age}</p>
                                                                <p class="rounded border ps-2 pe-2 m-0 me-2" style="font-size: .7rem;">HD</p>
                                                                <p class="m-0" style="font-size: 1rem;">${year}</p>
                                                                <i class="fa-solid fa-podcast fs-5 ms-2"></i>
                                                            </div>

                                                            <div
                                                                class="rounded-circle ms-2 add-to-list d-flex justify-content-center align-items-center border border-2 p-1 ms-auto">
                                                                <i class="fa-solid fa-plus fs-4"></i>
                                                            </div>
                                                        </h5>
                                                        <p class="card-text overview">${movie.overview}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            `
                                        }
                                    });

                                    $('.load-more-movies').append(list);

                                    $(this).removeClass('stop-from-clicking');
                                    $('.icon-down', this).removeClass('d-none');
                                    $('.icon-load', this).addClass('d-none');
                                } else {

                                }
                            });
                        } catch (error) {
                            console.error('Error:', error);
                        }
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });

            const position = window.scrollY;

            $('body').addClass('noscroll');

            $('.all-movies').css({
                'pointer-events': 'none',
            });
            $('.all-movies').addClass('unscrollable');

            genres = '';
            $('.overlay-left, .overlay-right').removeClass('invisible');

            setTimeout(() => {
                $('#play-video-in-poster').addClass('d-none');
                $('#poster-video')[0].play();
                $('#poster-video').prop('volume', '0.1');
                $('#video-in-poster').removeClass('d-none');
            }, 1000);

            const posterVideo = $('#poster-video')[0];

            $('.poster-container .turn-on-volumn').on('click', function () {
                posterVideo.muted = true;
                $(this).addClass('d-none');
                $('.poster-container .turn-off-volumn').removeClass('d-none');
            })

            $('.poster-container .turn-off-volumn').on('click', function () {
                posterVideo.muted = false;
                $(this).addClass('d-none');
                $('.poster-container .turn-on-volumn').removeClass('d-none');
            })
        });

        $('body').on('click', '.cancel-review', function () {
            $('.poster-container').css({
                'animation': 'removePoster 0.5s'
            });

            $('body').removeClass('noscroll');

            $('#video-in-poster').addClass('d-none');
            $('#video-in-poster').currentTime = 0;
            $('#play-video-in-poster', this).removeClass('d-none');

            setTimeout(() => {
                $('.poster-container').remove();
            }, 500)

            $('.all-movies').css({
                'pointer-events': '',
            });
            $('.all-movies').removeClass('unscrollable');
            $('.overlay-left, .overlay-right').addClass('invisible');
        });

        $('body').on('click', '.play-video', function () {
            window.location.href = `/watch?name=${title}`;
        });
    });
</script>