<script>
    $(document).ready(function () {
        function isCloseToBottom(elem) {
            const rect = elem[0].getBoundingClientRect();
            return rect.bottom <= $(window).height();
        }

        $(window).scroll(() => {
            setTimeout(() => {
                const lastMovie = $('.list-searched-movies .col:last-child');

                if (lastMovie.length && isCloseToBottom(lastMovie)) {
                    console.log('load')
                }
            }, 2000)
        });

                        let template =
                            `
                            <div class="movie-hoverred m-1 mb-5">
                                <img src="https://image.tmdb.org/t/p/original${path}"
                                    class="d-block rounded-top thumbnail" alt="..." data-title="${movie.original_title}" data-overview="${movie.overview}">
                                <div class="d-none run-video-when-hovering">
                                    <video width="100%" height="100%" style="object-fit: cover;">
                                        <source src="/videos/trailer.mp4"
                                            type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>

                                <div
                                    class="rounded-circle ms-5 d-flex justify-content-center align-self-end border border-3 p-1 mb-3 me-3 volumn">
                                    <i class="fa-solid fa-volume-high fs-4 text-body-tertiary"></i>
                                </div>
                            </div>
                        </div>
                        <div class="m-0 pt-5 movie-details ps-5 pe-3 d-flex">
                            <div>
                                <div class="d-flex align-items-center">
                                    <b class="text-success me-2">New</b>
                                    <p class="m-0 me-2">2017</p>
                                    <p class="m-0 me-2">${runtime}</p>
                                    <p class="rounded border ps-2 pe-2 m-0 me-2">HD</p>
                                    <div class="m-0 d-flex align-items-center me-2">
                                        <i class="fa-solid fa-podcast fs-3"></i>
                                        <div class="text">
                                            <p class="fw-bold m-0 ms-1">Spatial</p>
                                            <p class="m-0 ms-1 lh-1">Audio</p>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-rectangle-ad me-2"></i>
                                    <i class="fa-regular fa-message"></i>
                                </div>

                                <div class="d-flex align-items-center">
                                    <p class="border ps-2 pe-2 m-0 me-2 fw-bold">13+</p>
                                    <p class="m-0">${genres}</p>
                                </div>

                                <div class="mt-5 fs-5">
                                    ${overview}
                                </div>
                            </div>

                            <div class="ps-4">
                                <p>
                                    <span class="text-body-tertiary">Cast:</span>
                                    Cao Huu Quoc, Nguyen Quang Tuan, Le Duy Tan, Nguyen Hoang Phuc, more
                                </p>

                                <p>
                                    <span class="text-body-tertiary">Genres:</span>
                                    ${genres}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="similar-movies bg-black p-5">
                        <h2>More Like This</h2>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card h-100" style="padding: .2rem !important;">
                                    <img src="/imgs/achelousaurus.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title d-flex" style="font-size: 1rem;">
                                            <div class="d-flex align-items-center">
                                                <p class="border ps-2 pe-2 m-0 me-2 fw-bold" style="font-size: 1rem;">18+</p>
                                                <p class="rounded border ps-2 pe-2 m-0 me-2" style="font-size: .7rem;">HD</p>
                                                <p class="m-0" style="font-size: 1rem;">2017</p>
                                                <i class="fa-solid fa-podcast fs-5 ms-2"></i>
                                            </div>

                                            <div
                                                class="rounded-circle ms-2 d-flex justify-content-center align-items-center border border-2 p-1 ms-auto">
                                                <i class="fa-solid fa-plus fs-4"></i>
                                            </div>
                                        </h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="deeper-info-about-movie bg-black pt-5 pe-5 ps-5 pb-1 rounded-bottom">
                        <hr color="blue" />
                        <p class="fs-3">About <b>${title}</b></p>
                        <p>
                            <span class="text-body-tertiary">Director:</span>
                            Cao Huu Quoc, Nguyen Quang Tuan, Le Duy Tan, Nguyen Hoang Phuc
                        </p>
                        <p>
                            <span class="text-body-tertiary">Cast:</span>
                            Cao Huu Quoc, Nguyen Quang Tuan, Le Duy Tan, Nguyen Hoang Phuc
                        </p>
                        <p>
                            <span class="text-body-tertiary">Writer:</span>
                            Cao Huu Quoc, Nguyen Quang Tuan, Le Duy Tan, Nguyen Hoang Phuc
                        </p>
                        <p>
                            <span class="text-body-tertiary">Genres:</span>
                            ${genres}
                        </p>
                        <div class="d-flex">
                            <span class="text-body-tertiary">Maturity rating:</span>
                            <p class="border ps-2 pe-2 m-0 me-2 ms-2 fw-bold" style="width: fit-content; height: fit-content">
                                13+</p>
                            <p class="me-4">violence, language, suicide</p>
                            <p>Recommended for ages 13 and up</p>
                        </div>
                    </div>
                </div>
            </div>
            `
            $('.outer-container').append(poster_template);
            $('.list-searched-movies').css({
                'pointer-events': 'none',
            });
            genres = '';
            $('.overlay-left, .overlay-right').removeClass('invisible');

            $('.outer-container').on('click', ".cancel-review", function () {
                $('.poster').remove();
                $('.list-searched-movies').css({
                    'pointer-events': '',
                })
                $('.overlay-left, .overlay-right').addClass('invisible');
            });
        });
    });
</script>