{{> js/admin/crud-genre}}
<div id="screen-genre" class="d-none container border screen-info py-1">
    <div class="d-flex align-items-center justify-content-between mt-1">
        <h4 class="m-0" style="align-self:flex-start">Genres</h4>
        <a id="open-add-genre" class="btn btn-danger m-0">Add Genre</a>
    </div>
    <hr class="mt-2">
    <div id="edit-genre" class="container d-none">
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="genre-name">Name</span>
            <input type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="genre-name">
        </div>
        <div class="d-flex mb-2">
            <a id="update-edit-genre" class="btn btn-danger btn-edit-genre me-2">Update</a>
            <a id="delete-edit-genre" class="btn btn-danger btn-edit-genre me-2">Delete</a>
            <a id="add-genre" class="btn btn-danger me-2 d-none">Add</a>
            <a id="cancel-edit-genre" class="btn btn-danger">Return</a>
        </div>
    </div>
    <div id="genre-container" class="list-group list-group-container mb-3">
    </div>
    <nav id="genre-pagination" aria-label="Page Navigation">
        <ul class="pagination">
            <li class="page-item page-arrows">
                <a id="page-genre-prev" class="page-link disabled" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{#each pages_g}}
                <li class="page_item">
                    <a id="page-genre-{{this}}" class="page-link page-link-num page-genre {{#if @first}} active {{/if}}">{{this}}</a>
                </li>
            {{/each}}
            <li class="page-item page-arrows">
                <a id="page-genre-next" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>